* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.neon-wrapper {
    display: inline-flex;    
    filter: brightness(200%);
    overflow: hidden;
}

.text {
    color: #fff;
    background: #000;
    font-size: 14em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}

.gradient {
    background: linear-gradient(114.11037091024502deg, rgba(224, 247, 135,1) 5.273809523809524%,rgba(78, 227, 250,1) 97.17857142857142%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    mix-blend-mode: multiply;
}

.dodge {
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    to {
        transform: translate(50%, 50%);
    }
}